@model TodosList.Models.Todos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Todos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desc)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-primary"  asp-action="Edit" asp-route-id="@Model?.id">Edit</a>
    <a class="btn btn-success"  asp-action="Index">Back to List</a>
</div>
